<main class="contenedor">
    <form action="/reestablecer-password" method="POST" class="default-form" required>
        <div class="campo">
            <label >eMail</label>
            <input type="email" name="email" placeholder="Tu eMail" >
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a Iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-azul">
        </div>
    </form>
</main>